#Nokia {color: rgb(255, 0, 55);}
#Samsung {background-color: red;}
#Nokia {background-color: aqua;}
#Iphone {background-color: gold;}
#Xiaomi {background-color: green;}

body {background-color: bisque;}

h1 {background-color: blueviolet;}

nav {background-color: chartreuse;}


p {color: blueviolet; font-size: larger;}