#Nokia {color: rgb(255, 0, 55);}
#Samsung {background-color: red;}
#Nokia {background-color: aqua;}
#Iphone {background-color: gold;}
#Xiaomi {background-color: green;}

body {background-color: bisque;}
h1{background-color: goldenrod;}
nav {background-color: chartreuse;}

p {color: black;font-size: 100%;}

h6 {color:blue; font-size: 100%;}
h3 {color: blue; font-size: 80%;}

h4 {color:brown; font-size:  100%;}
