

/*  the external css code below changes the background color of h1 - h6 elements to black  */


h2 {background-color: black;color: white; font-size: 30px; text-align: center;}

#Nokia {color:white;}
#Samsung {background-color: black;}
#Nokia {background-color: black;}
#Iphone {background-color: black;}
#Xiaomi {background-color: black;}


/* the external css code below changes the entire background color of the html document to white */

body {background-color: white;}



p {color:aqua;font-size: 100%;}

h6 {color:white; font-size: 100%;}
h3 {color: white; font-size: 100%;}

h4 {color:black; font-size:  100%;}

/*selecting multiple elements and applying single rule set or stylying to them*/

p, h6, div, footer, li
{color: black; font-size: medium; width: max-content;}

/* How do I style the img  image using ecxternal styling ?*/







/* css font size and text align-center */

/*The element h1 contains the html property (welcome to my phonesgh) therefore the below code will effect 
the background-color of (welcome to my phonesgh)and change it to black */


h1 {background-color: black; font-size: 60px; color: white; text-align:center;}

  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
  }
